* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#paint {
  background-color: #0ff;
  --randots-tile-size: 9;
  --randots-color: #00225f;
  --randots-amplitude: 1.667;
  --randots-max-opacity: 0.6234;
  --randots-blend-mode: color-burn;
  background-image: paint(randots);
  position: fixed;
  width: 100%;
  height: 100%;
}
